<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85740521128-esrs3f8tj83rk3gbsvt38qj3f55jceno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85740521128-esrs3f8tj83rk3gbsvt38qj3f55jceno</string>
	<key>API_KEY</key>
	<string>AIzaSyCbSYBcFyLPduRU0DV9_fqZEqJaRMbSjQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>85740521128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tierzero.recipe.recipeBook</string>
	<key>PROJECT_ID</key>
	<string>recipebook-2d734</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebook-2d734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85740521128:ios:4fbf55461c953544c1249d</string>
</dict>
</plist>